/* .menu-container section.players {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* width: 100%;
    max-width: 380px;
    margin-right: 0px;
    margin-left: 30px; */
    /* background-image: url('../../assets/monopoly3.png');
    opacity: 30%;
} */